// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
}
/*My code*/
//variables
@backgroundcolor: #D8BFD8;
@headings: black;
@decorations: #cbd3dc;
@bodyfont: 'Kodchasan', sans-serif;
@headingfont: 'Playfair Display', serif;
@color: purple;


//mixins
.flex(){
	display: flex;
	justify-content: center;
	align-content: center;
}

.button(){
	font-family: @bodyfont;
	font-size: 2rem;
	border-radius: 15px;
	padding: 10px;
	color: white;
	background-color: purple;
}

.headers(){
	font-family: @headingfont;
	font-size: 2.5rem;
	color: @color;
	padding: 15px 0;
}

//code
html{
	font-size: 62.5%
}

body{
	width: 800px;
	margin-left: 15%;

	@media(max-width: 500px){
		display: block;
		width: 80%;
	}
}

.main-header{
	width: 100%;
	margin-top: 40px;
	padding-bottom: 20px;
	.main-nav{
		.flex;
		font-family: @headingfont;
		justify-content: space-evenly;

		a{
			color: @color;
			text-decoration: none;
			font-size: 2rem;
		}
	}
}

.main-intro{
	display: block;
	background-color: @backgroundcolor;
	padding: 30px;

	.intro{
		.img{
			display: block;
			margin: 0 auto;
			padding-bottom: 10px;
		}
		h1{
			font-family: @headingfont;
			font-size: 2.5rem;
			text-align: center;
			padding: 5px 0;
		}

		p{
			font-family: @bodyfont;
			font-size: 2.5rem;
			text-align: center;
			padding: 5px 0 5px 0;
		}
	}

	.intro-border{
		margin-top: 20px;
		border-top: 2px solid purple;

		p{
			font-family: @bodyfont;
			font-size: 2.5rem;
			text-align: center;
			padding: 15px 0;
		}

		.intro-btn{
			display: block;
			margin: 0 auto;
			.button;
		}
	}
}

	.about-section{
		.flex;
		width: 100%;
		padding: 30px;
		@media(max-width: 500px){
			display: block;
			width: 100%;
		}
		.about{
			margin-top: 15px;
			width: 50%;
			text-align: left;
			border-right: 3px dotted @color;
			@media(max-width: 500px){
				display: block;
				margin: 0 auto;
				width: 100%;
				border-right: none;
				text-align: center;
			}

			h3{
				.headers;
			}

			p{
				font-family: @bodyfont;
				font-size: 2rem;
				padding: 15px 0;
			}
		}

		.about-list{
			width: 50%;
			text-align: right;
			@media(max-width: 500px){
				display: block;
				margin: 0 auto;
				width: 100%;
				border-right: none;
				text-align: center;
			}

			h3{
				.headers;
			}

			.list{
				font-family: @bodyfont;
				font-size: 2rem;

				li{
					padding-bottom: 5px;
				}
			}
		}
	}

	.portfolio-section{
		display: block;
		background-color: @backgroundcolor;
		padding: 30px;

		h3{
			.headers;
			text-align: center;
		}
		p{
			font-family: @bodyfont;
			font-size: 2rem;
			padding: 15px 0;
			text-align: center;
		}

		.portfolio-btn{
			display: block;
			margin: 0 auto;
			.button;

			a{
				text-decoration: none;
				color: white;
			}
		}
	}

	.work-section{
		width: 100%;
		display: block;
		h3{
			.headers;
			text-align: center;
		}

		.work{
			.flex;
			justify-content: space-between;
			width: 100%;
			padding: 30px;
			@media(max-width: 500px){
				display: block;
				width: 100%;
			}
			.work1{
				width: 50%;
    			text-align: left;
				border-right: 3px dotted purple;
				
				h5{
					.headers;
				}
				p{
					font-family: @bodyfont;
					font-size: 1.5rem;
				}
				@media(max-width: 500px){
					display: block;
					margin: 0 auto;
					width: 100%;
					border-right: none;
					text-align: center;
				}

				}

				.work2{
					width: 50%;
					text-align: right;
										
					h5{
						.headers;
					}
					p{
						font-family: @bodyfont;
						font-size: 1.5rem;
					}
					@media(max-width: 500px){
						display: block;
						margin: 0 auto;
						width: 100%;
						border-right: none;
						text-align: center;
					}
	
					}
			}
		}

		footer{
			width: 100%;
			display: block;
			margin: 0 auto;
			text-align: center;
			background-color: @backgroundcolor;
			padding: 20px 0;

			h5{
				.headers;
			}
			p{
				font-family: @bodyfont;
				font-size: 1.5rem;
				padding-bottom: 10px;

				a{
					text-decoration: none;
					color: @color;
				}
			}
		}
	

